@layer utilities {
  .prose.prose-compact > p {
    overflow: auto hidden;
  }

  .prose.prose-compact
    :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  .prose.prose-compact
    :where([class~="lead"]):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 1.05em;
    margin-bottom: 1.05em;
  }

  .prose.prose-compact
    :where(blockquote):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    color: var(--tw-prose-quotes);
    border-inline-start-width: 0.25rem;
    border-inline-start-color: var(--tw-prose-quote-borders);
    quotes: "\201C" "\201D" "\2018" "\2019";
    margin-top: 1.6em;
    margin-bottom: 1.6em;
    padding-inline-start: 1em;
    font-style: italic;
    font-weight: 500;
  }

  .prose.prose-compact
    :where(h1, h2, h3, h4, h5, h6):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    break-after: avoid;
  }

  .prose.prose-compact
    :where(hr + *, h2 + *, h3 + *, h4 + *):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 0;
  }

  .prose.prose-compact
    :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: 0.8889em;
  }

  .prose.prose-compact
    :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .prose.prose-compact
    :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.6em;
    margin-bottom: 0.6em;
  }

  .prose.prose-compact
    :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }

  .prose.prose-compact
    :where(img, picture, video):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }

  .prose.prose-compact
    :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  .prose.prose-compact
    :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
    list-style-type: disc;
  }

  .prose.prose-compact input[type="checkbox"] {
    margin-top: calc(var(--spacing) * -0.5);
    margin-right: calc(var(--spacing) * 1);
    height: calc(var(--spacing) * 4);
    width: calc(var(--spacing) * 4);
    cursor: pointer;
    appearance: none;
    border-style: var(--tw-border-style);
    border-width: 2px;
    border-color: var(--border);
    background-color: var(--background);
    vertical-align: middle;
    transition-property: all;
    transition-timing-function: var(
      --tw-ease,
      var(--default-transition-timing-function)
    );
    transition-duration: var(--tw-duration, var(--default-transition-duration));

    --tw-duration: 0.2s;

    border-radius: 0.25rem;
    animation-duration: 0.2s;
    position: relative;
  }

  .prose.prose-compact input[type="checkbox"]:checked {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--secondary-foreground);
  }

  .prose.prose-compact
    :where(ol):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;
    list-style-type: decimal;
  }

  .prose.prose-compact
    :where(ol > li, ul > li):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    padding-inline-start: 0.375em;
  }

  .prose.prose-compact
    :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .prose.prose-compact
    :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    color: var(--tw-prose-bold);
    font-weight: 600;
  }

  .prose.prose-compact
    :where(dl):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.875em;
    margin-bottom: 0.875em;
  }

  .prose.prose-compact
    :where(dt):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.875em;
  }

  .prose.prose-compact
    :where(dd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.35em;
  }

  .prose.prose-compact
    :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    border-color: var(--tw-prose-hr);
    border-top-width: 1px;
    margin-top: 3em;
    margin-bottom: 3em;
  }

  .prose.prose-compact
    :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }

  .prose.prose-compact
    :where(figure):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
}
