@layer utilities {
  .prose.prose-compact
    :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.875em;
    margin-bottom: 0.875em;
  }

  .prose.prose-compact
    :where([class~="lead"]):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 1.05em;
    margin-bottom: 1.05em;
  }

  .prose.prose-compact
    :where(blockquote):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 1.12em;
    margin-bottom: 1.12em;
  }

  .prose.prose-compact
    :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0;
    margin-bottom: 0.62em;
  }

  .prose.prose-compact
    :where(h2):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.4em;
    margin-bottom: 0.7em;
  }

  .prose.prose-compact
    :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.12em;
    margin-bottom: 0.42em;
  }

  .prose.prose-compact
    :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.05em;
    margin-bottom: 0.35em;
  }

  .prose.prose-compact
    :where(img, picture, video):not(
      :where([class~="not-prose"], [class~="not-prose"] *)
    ) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }

  .prose.prose-compact
    :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
  }

  .prose.prose-compact
    :where(ol, ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.875em;
    margin-bottom: 0.875em;
  }

  .prose.prose-compact
    :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
  }

  .prose.prose-compact
    :where(dl):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.875em;
    margin-bottom: 0.875em;
  }

  .prose.prose-compact
    :where(dt):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.875em;
  }

  .prose.prose-compact
    :where(dd):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0.35em;
  }

  .prose.prose-compact
    :where(hr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 2.1em;
    margin-bottom: 2.1em;
  }

  .prose.prose-compact
    :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }

  .prose.prose-compact
    :where(figure):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 1.4em;
    margin-bottom: 1.4em;
  }
}
